<nav>

</nav>
<hr>

<h3>Contact Details</h3>


<hr style="color: black; border-radius: 15px; height: 5px;">
<div class="fonty">
<a href="mailto:efverwant@gmail.com"> Support</a>
<img width="40" src="../Icons/tel.png"/> 072 829 0651</div>
<br>

<img src="~/Icons/tel.png" />

</div>
