<nav>

</nav>
<hr>

<h3>Contact Details</h3>
<div id="bod">
<div class="fonty">
<img width="40" src="Icons/tel.jpg"/><a href="mailto:blueseal359@yahoo.com"> Contact</a>
<img width="40" src="/Icons/tel.jpg"/> 082 579 4648
</div>
<br>
<hr style="color: black; border-radius: 15px; height: 5px;">
<div class="fonty">
<img width="40" alt="other" src="~/Icons/email.png"/><a href="mailto:efverwant@gmail.com"> Support</a>
<img width="40" src="../Icons/tel.png"/> 072 829 0651</div>
<br>

<img src="~/Icons/tel.png" />

</div>
