<style>
#btnDrop{
    border: 2px solid black;
    width: 200px;
    height: 50px;
    padding: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: bold;
}
/*
#btnDrop:hover a{
    visibility: visible;
    display: block;
}
*/
#btnDrop a{
    visibility: hidden;
    display: block;
}    
#lineMain{
    background-image: linear-gradient(to right, blue, red, green);
    background-clip: border-box;
    background-color: transparent;
}

</style>
<nav>

</nav>
<hr>

<!--<h3>TECHIESpirals</h3>-->
<div id="bod">

<h2 style="color: blue; position: relative;">TECHIESpirals Custom Software Solutions</h2>
<hr id="lineMain" style="height: 20px;  border-radius: 15px; box-shadow: 5px 5px 5px black;">
<div class="row">
<div class="col-md-3">
<h4>Custom software solutions</h4>
<h6 style="color: brown;">We deliver Custom Software Solutions using the latest, most reliable,
     friendly and trusted tools to put your business at the forefront.
Our custom security solutions make sure that your privates remain private.</h6>
</div>
<div class="col-md-3">
<!--<hr style="height: 10px; color: red; border-radius: 15px;">-->
<h4>Custom online software solutions</h4>
<h6 style="color: brown;">With our custom online solutions we also offer System Redundancy (so you do not lose your valuable data), System Security, and around the clock support.</h6>
</div>
<div class="col-md-3">
<!--<hr style="height: 10px; color: red; border-radius: 15px;">-->
<h4>Digital Transformation</h4>
<h6 style="color: brown;">Transform your paper based business to digital systems and beyond.</h6>
</div>

<div class="col-md-3">
<h4>Anywhere Access</h4>
<!--<h6 style="color: brown;">Paper to computer</h6>-->

<h6 style="color: brown;">Access your data securely on the move with your custom designed mobile applications. Partake in designing your custom UI</h6>
</div>
</div>
<div class="row">
    <div class="col-md-6">
<h4>Custom software solutions</h4>
We are dedicated to delivering	 bespoke software solutions that exceed client expectations and drive business success. 
<p>We integrate cutting-edge technology with a commitment to environmental responsibility</p>

    </div>

    <div class="col-md-6">
<h4>Custom software solutions</h4>
unparalleled innovation and client-centric solutions

    </div>
</div>
</div>

</div>
</div>


