html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  height:650px;
  margin-bottom: 60px;
  /* background: linear-gradient(to bottom, rgb(128, 0, 0,.7), lightgrey); */
  background: linear-gradient(to bottom, blue, lightgrey);

}
h2{
  color: rgb(82, 0, 0);
}
h3{
  color: rgb(82, 0, 0);
}
h4{
  color:rgb(128,0,0);
}
h6{
  color: rgb(82, 0, 0);
}
/*
#indexRowOne h6{
  background: linear-gradient(to bottom, white, grey);
  background-clip: text;
  color: transparent;
}
#indexRowTwo{
  /*color: transparent;
}
*/